<h1>Special Page for <%= @album.title %></h1>

<p>All the tracks will go here + there will be a link to all the tracks.</p>
<br>

<%= link_to "Edit Album", edit_album_url(@album) %>
<%= button_to "Delete Album", album_url(@album), method: :delete %>
<%= link_to "Add New Album", new_band_album_url(@album.band) %>
<%= link_to "Band", band_url(@album.band_id) %>
